<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Django</title>
</head>
<body>
    Добро пожаловать в {{ title }}.<br>
    Тут собрано {{ books|length }} книг из моей личной коллекции.
    <br>
    <br>
    <table border="1">
        {% for book in books %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year_release }}</td>
            <td>{{ book.author.full_name }}</td>
            <td>{{ publish.publishing_house }}</td>
            <td>{{ book.copy_count }}</td>
            <td>
                <form action="book_increment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="Увеличить кол-во" />
                </form>
                <br>
                <form action="book_decrement/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="Уменьшить кол-во" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <!-- Первый способ. Но он плох тем, что вручную необходимо прописать все цифры от 1 до 100. Плюс необходимо прописать во views -->
    <div>
        Числа от 1 до 100, которые делятся на 3: <br>
        {% for numb in numbs %}           
            {% if numb|divisibleby:'3' %}
                {{ numb }}
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <!-- Второй способ. Легче и элегентнее. -->
    <div>
        Числа от 1 до 100, которые делятся на 3: <br>
        {% for i in 'x'|rjust:'100' %}
            {% if forloop.counter|divisibleby:'3' %}
                {{ forloop.counter }} 
            {% endif %}
        {% endfor %}
    </div>
  
</body>
</html>